$main-color: transparent;
$secondary-color: #8000ffcb;
$my-font-color: #7f00ff;
$width: 100vh;

@import "mixin";

.centered {
	max-width: $width;
	height: calc($width / 5);
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	@include pad {
		margin: auto 5%;
	}
}

.group {
	width: 100%;
	height: calc($width / 5);
	overflow: hidden;
	position: relative;
}

label {
	position: absolute;
	top: calc($width / 15);
	color: rgba($my-font-color, 0.5);
	font: 400 calc($width / 15) "poppins";
	cursor: text;
	transition: 0.25s ease;
    @include pad {
        top: calc($width / 25);
        font-size: calc($width / 20);
    }
}

input {
	display: block;
	width: 100%;
	padding-top: calc($width / 10);
	border: none;
	border-radius: 0;
	color: black;
	background: $main-color;
	font-size: calc($width / 30);
	transition: 0.3s ease;
    @include pad {
        padding-top: calc($width / 15);
        font-size: calc($width / 40);
    }
	&:valid {
		~ label {
			top: 45px;
			font: 700 calc($width / 25) poppins;
			color: rgba($my-font-color, 0.5);
            @include pad {
                top: 0;
            }
		}
	}
	&:focus {
		outline: none;
		~ label {
			top: 45px;
			font: 700 calc($width / 25) poppins;
			color: $secondary-color;
            @include pad {
                top: 0;
            }
		}

		~ .bar:before {
			transform: translateX(0);
            @include pad {
                transform: translateX(-1);
            }
		}
	}

	&:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
		transition-delay: 99999999s;
        -webkit-transition-delay: 99999999s;
		-webkit-text-fill-color: black !important;
	}
}

.bar {
	background: rgba($my-font-color, 0.5);
	content: "";
	width: $width;
	height: calc($width / 150);
	transition: 0.3s ease;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 150%;
		background: $secondary-color;
		transform: translateX(-100%);
	}
}

::selection {
	background: rgba($secondary-color, 0.3);
}
