@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap);

@import "input";
@import "loading";
@import "mixin";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "poppins", sans-serif;
}

body {
	overflow-x: hidden;
    overflow-y: hidden;
    @include mobile {
        overflow-y: auto;
    }
}

.container {
	width: 100%;
	min-height: 100vh;
	background-color: #f3f5f8;
}

// NAV
nav {
	display: flex;
    position: relative;
	width: 100%;
	justify-content: space-around;
	line-height: 5rem;
	z-index: 999;
    background-color: #f3f5f8;

	.logo {
		display: flex;
		font-size: 2.5rem;
		font-weight: 800;
		color: #3d535f;
		letter-spacing: .1875rem;
		cursor: pointer;
		text-transform: uppercase;
        @include pad {
            font-size: 2rem;
        }

        a {
            color: #3d535f;
            text-decoration: none;
        }
	}

	b {
		font-size: 4.375rem;
		color: #7f00ff;
        @include pad {
            font-size: 4rem;
        }
	}

	.navItems {
		display: flex;
        @include pad {
            width: 30rem;
        }

		li {
			list-style: none;
			margin: 0 0.9rem;

			a {
				font-size: 1.5625rem;
				color: #3d535f;
				letter-spacing: .1875rem;
				text-decoration: none;
				text-transform: capitalize;
                @include pad {
                    font-size: 1.3rem;
                }

				&:hover {
					color: #7f00ff;
				}
			}
		}

		#showDetail {
			li,
			li a {
				line-height: 0;
				visibility: hidden;
				opacity: 0;
				letter-spacing: .1875rem;
				text-decoration: none;
				transform: rotate(720deg);
				transition: all 0.5s linear;
			}

			&:hover {
				li,
				li a {
                    line-height: 1;
                    font-size: 1.5625rem;
					visibility: visible;
					opacity: 1;
					color: #e93838;
					text-decoration: none;
					transform: rotate(0deg);
                    @include pad {
                        line-height: 1;
                        font-size: 1.3rem;
                    }
				}
			}
		}

        @include mobile {
            display: none;
        }
	}

    .menuIconMobile {
        display: none;
        @include mobile {
            display: block;
            font-size: 1.5rem;
        }
    }

	.links {
        white-space: nowrap;

		> a {
            color: #3d535f;
			font-size: 1.875rem;
            margin: .15625rem .625rem;
            @include pad {
                font-size: 1.5rem;
                margin: .15625rem .4375rem;
            }

			&:hover {
				color: #7f00ff;
			}
		}
	}
}

@keyframes navItemsMobile {
    0% {
        top: -10%;
    }
    100% {
        top: 8%;
    }
}

.navItemsMobile {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #f3f5f8;
    z-index: 999;
    animation: navItemsMobile 0.1s linear;

    li {
        list-style: none;
        padding-left: 20%;
    }

    a {
        color: #3d535f;
		text-decoration: none;
		text-transform: capitalize;

        &:hover {
            color: #7f00ff;
        }
    }

    #showDetail {
        li,
        li a {
            line-height: 0;
            visibility: hidden;
            opacity: 0;
            text-decoration: none;
            transform: rotate(720deg);
            transition: all 0.5s linear;
            padding-left: 5%;
        }

        &:hover {
            li,
            li a {
                line-height: 1;
                visibility: visible;
                opacity: 1;
                color: #e93838;
                text-decoration: none;
                transform: rotate(0deg);
            }
        }
    }
}

// HOME
.wrapper {
	display: flex;
	width: 100%;
	height: calc(100vh - 5rem);
	justify-content: center;
	align-items: center;
	padding: 0 10%;
	overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 888;
    @include mobile {
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
    }

	&::before {
		@include purple-cercle-before;
	}

	&::after {
		@include purple-cercle-after;
	}

	.cols {
		width: 50%;
	}

	.cols0 {
		width: 70%;
		z-index: 5;
        @include mobile {
            width: 100%;
        }

		.topline {
			display: block;
			position: relative;
			font-size: 2.1875rem;
			list-style: .3125rem;
			color: #3d535f;

			&::after {
				position: absolute;
				content: "";
				height: .25rem;
				width: 2.8125rem;
				bottom: .625rem;
				background-color: #7f00ff;
			}
		}

		h1 {
			display: block;
			font-size: 7vw;
			font-weight: 900;
			color: #3d535f;

			> .muiltiText {
				color: #7f00ff;
				text-transform: capitalize;
			}
		}

		p {
			display: block;
			width: 90%;
			font-size: 1.2rem;
			color: #3d535f;
            @include pad {
                font-size: 1rem;
            }
            @include mobile {
                font-size: .8rem;
            }
		}

		button {
			outline: none;
			border: none;
			cursor: pointer;
			font-size: 1.5625rem;
			font-weight: 400;
			color: #fff;
			background-color: #3d535f;
			padding: .5rem .875rem;
			margin: 2.5rem .3125rem;
			letter-spacing: .125rem;
			text-transform: capitalize;
			box-shadow: 0 .9375rem .625rem rgba(0, 0, 0, 0.4);
            @include pad {
                font-size: 1.2rem;
            }
            @include mobile {
                font-size: .8rem;
                margin: .5rem .5rem;
            }

			&:hover {
				background-color: #7f00ff;
			}
		}

		.btns {
			width: 100%;
            @include desktop {
                position: relative;
            }
		}
	}

	.cols1 {
		.imgbox {
			position: relative;
			width: 100%;
			height: 100%;
            @include desktop-1280 {
                width: 130%;
            }
            @include pad {
                width: 160%;
            }
            @include mobile {
                width: 200%;
            }

            @keyframes animate {
                50% {
                    top: 49%;
                    left: 51%;
                    width: 155%;
                }
            }

            @keyframes animate-mobile {
                50% {
                    top: 49%;
                    left: 51%;
                    width: 95%;
                }
            }

			#splash {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-35deg);
				width: 160%;
				filter: saturate(200%);
				animation: animate 4s linear infinite;
                @include mobile {
                    width: 100%;
                    transform: translate(-45%, -45%) rotate(0deg);
                    animation: animate-mobile 4s linear infinite;
                }
			}
		}

        @keyframes splash {
            50% {
                right: 1.875rem;
                top: -5.625rem;
            }
        }

		#splash {
			position: relative;
			height: 100%;
			width: calc(140% - 5rem);
			top: -8.75rem;
			right: 3.125rem;
			transform: rotateY(180deg);
			animation: splash 4s linear infinite;
		}

		#yu {
			position: relative;
			height: 100%;
			width: calc(100% - 5rem);
			top: -1.25rem;
			right: 1.875rem;
            @include mobile {
                width: 100%;
                top: 0;
                right: 5%;
            }
		}
	}
}

// Youtube
.side-project-container {
	width: 100%;
	height: calc(100vh - 5rem);
	justify-content: center;
	padding: 0 10%;
	overflow-x: hidden;
    overflow-y: auto;

	&::before {
		@include purple-cercle-before;
	}

	h1 {
		display: block;
		font-size: 7vw;
		font-weight: 900;
		color: #3d535f;
		text-align: center;
	}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2%;
        position: relative;
        z-index: 888;
	}

    .yt-search-result {
        .yt-action {
            display: flex;
            justify-content: space-between;
            @include mobile {
                flex-direction: column;
            }

            .yt-search {
                display: flex;
                align-items: baseline;
                max-width: 50%;
                @include mobile {
                    max-width: 100%;
                }

                button {
                    margin-left: 5%;
                    font-size: 20px;
                    margin-bottom: 2%;

                    @include pad {
                        margin-left: 0;
                        padding: 10px;
                    }

                    @include mobile {
                        padding: 5px;
                    }
                }

                .group {
                    height: auto;

                    input {
                        padding-top: 0;
                    }
                }
            }

            .center {
                max-width: 50%;
                justify-content: flex-end;
                flex-direction: column;
                margin-top: 0;
                margin-bottom: 2%;
                @include mobile {
                    max-width: 100%;
                }

                span {
                    width: 150px;
                }

                button {
                    outline: none;
                    border: none;
                    cursor: pointer;
                    font-size: 25px;
                    font-weight: 400;
                    color: #fff;
                    background-color: #3d535f;
                    padding: 8px 14px;
                    margin: 0 5px;
                    letter-spacing: 2px;
                    text-transform: capitalize;
                    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
                    @include pad {
                        font-size: 20px;
                        padding: 8px 5px;
                        margin: 2% 5px;
                    }
                    @include mobile {
                        margin: 5% 5px;
                    }

                    &:hover {
                        background-color: #7f00ff;
                    }
                }
            }
        }

        .yt-list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            z-index: 888;
            @include mobile {
                margin-bottom: 5%;
            }

            .yt-item {
                max-width: 320px;
                font-weight: bold;
                margin-top: 2%;
                @include desktop {
                    transition: all 0.5s ease-out;

                    &:hover {
                        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
                        transform: scale(1.2);
                    }
                }

                @include pad {
                    max-width: 280px;
                }

                @include mobile {
                    max-width: 100%;
                }

                img {
                    max-width: 100%;
                    border-radius: 5%;
                }

                .yt-title {
                    max-width: 100%;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                }
            }
        }
    }

	.yt-search {
		button {
			display: block;
			outline: 0;
			border: 0;
			cursor: pointer;
			text-decoration: none;
			position: relative;
			color: #000;
			background: #fff;
			line-height: 30px;
			border-radius: 40px;
			padding: 20px;
			font-size: 30px;
			font-weight: 600;
			box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px,
				rgb(246, 84, 174) 0px 0px 0px 4px,
				rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
			transition: all 0.2s;

			&:hover {
				box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px,
					rgb(255, 198, 0) 0px 0px 0px 4px,
					rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
				transform: scale(1.01);
			}
		}
	}

	.yt-preview {
        position: relative;
        z-index: 888;
		text-align: center;

        video {
            max-width: 100vw;
            @include mobile {
                max-width: 80vw;
            }
        }

		.volume {
			max-width: 20%;
            max-height: 10px;
			margin: 0 auto;
            @include pad {
                margin-top: 2%;
                max-width: 50%;
            }
            @include mobile {
                margin-top: 2%;
                max-width: 80%;
            }

            .noUi-base {
                position: relative;
                &::before {
                    content: "";
                    width: 20px;
                    height: 20px;
                    background: url("../volume.png");
                    background-size: 20px 20px;
                    position: absolute;
                    left: -10%;
                    top: -60%;
                }
            }

			.noUi-handle {
				height: 18px;
				width: 18px;
				top: -5px;
				right: -9px;
				border-radius: 9px;
			}
		}

		.slider {
			max-width: 50%;
			margin: 0 auto;
			margin-top: 2%;
            @include pad {
                max-width: 80%;
                margin-top: 10%;
            }
            @include mobile {
                max-width: 100%;
                margin-top: 20%;
            }

			.noUi-connect {
				background-color: #c0392b;
			}
		}

        .type-btn {
            outline: none;
			border: none;
			cursor: pointer;
			font-size: 25px;
			font-weight: 400;
			color: #fff;
			background-color: #3d535f;
			padding: 8px 14px;
			margin: 0 5px;
			letter-spacing: 2px;
			text-transform: capitalize;
			box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
            @include pad {
                margin: 2% 5px;
            }
            @include mobile {
                margin: 5% 5px;
            }

			&:hover {
				background-color: #7f00ff;
			}
        }

        .type-btn-focus {
            background-color: #7f00ff;
        }

		.action-btn {
			display: block;
			outline: 0;
			border: 0;
			cursor: pointer;
			text-decoration: none;
			position: relative;
			color: #000;
			background: #fff;
			line-height: 30px;
			border-radius: 40px;
			padding: 20px;
			font-size: 20px;
			font-weight: 600;
			margin: 0 5% 1% 5%;
			box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px,
				rgb(246, 84, 174) 0px 0px 0px 4px,
				rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
			transition: all 0.2s;
            @include mobile {
                font-size: 16px;
            }

			&:hover {
				box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px,
					rgb(255, 198, 0) 0px 0px 0px 4px,
					rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
				transform: scale(1.01);
			}
		}
	}
}
